<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="style .css">
<body>
   
    <form action="catalogue.html">
        
        <label for="username">Username</label>
        <br>
        <input type="text" id="username" name="username" inputmode="text">
        <br>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" id="password" name="password" inputmode="text">
        <br>
        <br>
        <button id="login-btn" type="submit">LOGIN</button>
        <br>
        <br>
        <a href="newuser.html">New User?</a>
    </form>
    
    </div>
</body>
</html>